@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10 98;
    --foreground: 222 47 11;
    --primary: 30 58 138;
  }

  .dark {
    --background: 222 47 11;
    --foreground: 210 40 98;
    --primary: 147 197 253;
  }
}

body {
  font-feature-settings: "kern" 1, "tnum" 1;
}
