@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 30 58 138;   /* navy */
  --background: 240 10 98;
  --foreground: 222 47 11;
}

body {
  font-feature-settings: "kern" 1, "tnum" 1;
}
